.mainpage-wrap {
  height: 300vh;
}


.section1 {
  height: 30vh;
  background-color: blueviolet;
}
.section2 {
  height: 30vh;
  background-color: aqua;
}
.section3 {
  height: 20vh;
  background-color: brown;
}
.section4 {
  height: 20vh;
  background-color: chartreuse;
}